@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-img{
  background-image: url(images/home-banner.jpg.webp);
  height: 723px;
}

.firstsection{
  margin: 200px 450px;
  justify-content: left;
  margin-left: 75px;
}

.book-btn{
    background-color: rgb(30, 30, 247);
    width: 200px;
    margin-top: 50px;
}

.first-btn{
  margin: 50px 150px ;
  background-color: white;
}

.second-section{
  margin: 5% 10%;
  background-image: url(images/bg_1.png.webp);
}
.para{
  display: inline-block;
}

.about-img{
  padding-left: 250px;
  height: 600px;
  width: 750px;
}

.sub-third{
    display: flex;
}

.patient-speak{
    padding: 5% 8%;
    text-align: justify;
}

.patient-2{
    padding: 5% 0;
}

.speak-img{
    padding: 5% 5%;
}

.fourth-section{
    display: flex;
    background-image: url(images/loc-bg-_1_.jpg);
    padding-bottom: 10%;
}

.fourth-section img{
    margin-left: 200px;
    margin-top: 100px;
}

.fourth-section h4{
    padding: 5% 0;
    color: gray;
}
.locations{
    margin-left: 300px;
}

.table td{
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 20px;
    border: 1px solid #f7f5f5;
    border-top: none;
    text-align: left;
}

@media(max-width:575.98px){
  .bg-img{
   width: 575.98px; 
  }
  .firstsection{
    margin: 0;
  }
  .firstsection h1{
    font-size: 25px;
    margin-top: 250px;
    padding: 0;
    text-align: center;
  }
  .firstsection .book-btn{
    margin-left: 190px;
  }
  .second-section h1{
    text-align: center;
    margin: 30px 0;
  }
  .about-img{
    margin-left: 1px;
    padding: 0;
    width: 450px;
    margin-bottom: 100px;
  }
  .sub-third{
    display: inline;
  }
  .patient-1{
    width: 100%;
  }
  .speak-img{
    width: 40px;
    padding: 5px 0 70px 15px;
  }
}

